body {
	background-color: #fff;
	color: #333;
	font: 12px "Lucida Grande", verdana;
	margin: 0;
	padding: 0;
}

a {
	color: #369;
	text-decoration: none;
	border-bottom: 1px dotted #ccc;
}
a:hover {
	border-color: #369;
}

h1 {
	margin: 0 0 20px 0;
	color: #fff;
	background-color: #900;
	border-bottom: 2px solid #600;
	padding: 10px 20px;
}
h2 > span {
    color: #666;
    font-size: 90%;
}

div.content {
	margin: 20px;
}

div.responses {
    margin-top: 2em;
}

.post {
    border: 1px dotted #ccc;
    padding: 10px;
    margin: 10px 0;
}
.post .post {
    margin: 10px;
}

table.meta {
    border: 1px solid #ccc;
    margin: 2em 0;
}
table.meta th, table.meta td {
    text-align: left;
    vertical-align: top;
    padding: 5px 10px;
    border-top: 1px dotted #ccc;
}
table.meta tr:first-child > * {
    border-top: none;
}
table.meta th {
    font-size: 90%;
}