<!DOCTYPE html>

<html>
    <head>
        <title>Wong Thesis | {% block title %}Home{% endblock %}</title>
        <link rel="stylesheet" href="/static/yoyoyo.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
        
        <link rel="stylesheet" href="/static/token-input-facebook.css" type="text/css" />
        <script type="text/javascript" src="/static/jquery.tokeninput.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                var classes = {
                    tokenList: "token-input-list-facebook",
                    token: "token-input-token-facebook",
                    tokenDelete: "token-input-delete-token-facebook",
                    selectedToken: "token-input-selected-token-facebook",
                    highlightedToken: "token-input-highlighted-token-facebook",
                    dropdown: "token-input-dropdown-facebook",
                    dropdownItem: "token-input-dropdown-item-facebook",
                    dropdownItem2: "token-input-dropdown-item2-facebook",
                    selectedDropdownItem: "token-input-selected-dropdown-item-facebook",
                    inputToken: "token-input-input-token-facebook"
                };

                var onChange = function(input) {
                    var form = $(input).parent('form'),
                        type = form.attr('method'),
                        url = form.attr('action'),
                        data = form.serialize();
                    console.log('Submitting form %o via %s to %s with %s',
                                form, type, url, data);
                    $.ajax({
                        url: url,
                        type: type,
                        data: data,
                        error: function(xhr, textStatus) {
                            alert('Error updating tags: ' + textStatus);
                        }
                    });
                };

                $('form.tags input[name="tags"]').each(function (i, el) {
                    // Do we have any existing tags for this input?
                    var initialData = (el.value) ? el.value.split(', ') : [];
                    var prePopulate = $.map(initialData, function(el) {
                        return { id: el, name: el };
                    });
                    // We need to reset the value, because the tokenInput 
                    // plugin will re-add our initial data to the input
                    el.value = '';
                    $(el).tokenInput('/tags', {
                        classes: classes,
                        prePopulate: prePopulate,
                        onChange: onChange
                    });
                });
            });
        </script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <h1>Wong Thesis</h1>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
