<!DOCTYPE html>

<html>
    <head>
        <title>Wong Thesis | {% block title %}Home{% endblock %}</title>
        <style type="text/css" media="screen">
            .post {
                border: 1px dotted #ccc;
                padding: 10px;
                margin: 10px 0;
            }
            .post .post {
                margin: 10px;
            }
        </style>
    </head>
    <body>
        <h1>Wong Thesis</h1>
        {% block content %}
            
        {% endblock %}
    </body>
</html>
